.filterbar {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;

}

.filterscontainer{
    display: flex;
}

.filter {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.orderstatus {
    width: 100px;
    text-align: center;
    font-size: large;
    height: 30px;
}

.owneridfield {
    width: 100px;
    text-align: center;
}

.icon{
    width:30px;
    height:30px;
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}