@page "/Login"

@inherits LoginBase

<h3>login</h3>
<AuthorizeView>
  
  <NotAuthorized>

    <div class="design">
      <EditForm Context="myContext" Model="user" OnValidSubmit="@LoginAsync">

        <DataAnnotationsValidator/>
        <ValidationSummary/>


        <div class="form-outline mb-4">
          <InputText type="text" id="form2Example1" class="form-control"@bind-Value="user.userName"/>
          <label class="form-label" for="form2Example1">User Type</label>
        </div>


        <!-- Password input -->
        <div class="form-outline mb-4">
          <InputText type="password" id="form2Example2" class="form-control" @bind-Value="user.password"/>
          <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked/>
              <label class="form-check-label" for="form2Example34"> Remember me </label>
            </div>
          </div>

          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->

        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        <button type="submit" class="btn btn-primary createAccount btn-block mb-4" @onclick="MovePageToRegister">Create Account</button>


      </EditForm>
    </div>

  </NotAuthorized>

  <Authorized>
    <div class="card">
      <h3>Hello, @context.User.Identity.Name </h3>
    </div>
  </Authorized>


</AuthorizeView>