Java/.idea/
Java/target/
Java/src/main/java/via/sep3/group2/grpc/
CSharp/.idea/
CSharp/BusinessLogicServer/Protobuf/
CSharp/BlazorClient/obj/
CSharp/BlazorClient/bin/
CSharp/ModelClasses/obj/
CSharp/ModelClasses/bin/
CSharp/BusinessLogicServer/obj/
CSharp/BusinessLogicServer/bin/

