@namespace Login
@using BlazorClient.authentication
@inject NavigationManager navMgr
@inject IAuthService authService

<div class="login-buttons-div">
    <p class="login-p">
<AuthorizeView>
    <Authorized>
        Logout: &nbsp;
        <img class="icon" src="img/Logout.png" @onclick="Logout"/>
    </Authorized>
    <NotAuthorized>
        Login: &nbsp;
        <img class="icon" src="img/Login.png" @onclick="Login"/>
    </NotAuthorized>
</AuthorizeView>
    </p>
</div>
@code {

    private void Login()
    {
        navMgr.NavigateTo("/Login");
    }

    private async Task Logout()
    {
        await authService.LogoutAsync();
        navMgr.NavigateTo("/");
    }

}