.icon {
    width: 48px;
    cursor: pointer;
    float: right;
}
.login-p {
    font-size: 2em;
    margin: 0px;
    padding: 0px;
}
.login-buttons-div {
    width: 200px;
    padding: 0px;
    margin: 0px;
    margin-left: 50px;
}